<div class="container">

    <footer class="footer">
    
        <small>
        
            Copyright © <a href="#">The Complete Ruby on Rails Developer</a>
            
            by <a href="www.hashmat00.com">Hashmat Mh</a>
            
        </small>
    
    <nav>
    
        <ul>
        
            <li><%= link_to "About", about_path %></li>
        
        </ul>
    
    </nav>
    
    </footer>

</div>